<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <title>{{ vacancy[4] }}</title>
</head>
<body>
    <div class="container my-4">
        <div class="row">
            <div class="col text-center {{ 'bg-secondary' if vacancy[5] == 1 }}">
                <h1>{{ vacancy[4] }}</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mb-3">
            <div class="col">
                <p><strong>ID:</strong> <a href="{{ vacancy[3] }}" target="_blank">{{ vacancy[1] }}</a></p>
            </div>
            <div class="col text-end">
                <p class="mb-0"><!-- открытая вакансия {{ vacancy[7] }}, -->
                    <a href="{{ url_for('vacancy_detail', db=selected_db, hh_id=vacancy[1], vacancy_id=vacancy[0], favorite=('1' if not vacancy[21] or vacancy[21] == 0 else '0' )) }}">{{ 'Убрать из избранного' if vacancy[21] == 1 else 'В избранное' }}</a>,
                    {{ vacancy[6] }}</p>
                <form action="{{ url_for('vacancy_detail', db=selected_db, hh_id=vacancy[1]) }}" method="post" onsubmit="return submitForm(this);">
                    <input type="hidden" name="vacancy_id" value="{{ vacancy[0] }}">

                    <select name="relation_status" id="relation_status" onchange="this.form.submit()">
                        <option value="None"></option>
                        {% for status in status_list %}
                            <option value="{{ status[0] }}" {% if vacancy[22] == status[0] %}selected{% endif %}>{{ status[1] }}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if vacancy[8] %}
                    <p><strong>Зарплата:</strong>
                    {% set salary_from = vacancy[8]['from'] if vacancy[8] else None %}
                    {% set salary_to = vacancy[8]['to'] if vacancy[8] else None %}
                    {% set salary_currency = vacancy[8]['currency'] if vacancy[8] else None %}
                    {% set salary_gross = 'до вычета налогов' if vacancy[8]['gross'] == True else '' %}
                    
                    {{ ('от {}'.format(salary_from) if salary_from else '') + (' до {}'.format(salary_to) if salary_to else '') + (' {}'.format(salary_currency) if salary_currency else '') + ' {}'.format(salary_gross) }}
                    </p>
                {% endif %}
                <p class="mb-0"><strong>Город:</strong> {{ vacancy[18] }}</p>
                <p class="mb-0"><strong>Опыт работы:</strong> {{ vacancy[9] }}</p>
                <p class="mb-0"><strong>Занятость:</strong> {{ vacancy[15] }}</p>
                <p class="mb-0"><strong>График:</strong> {{ vacancy[10] }}</p>
            </div>
            <div class="col-4 text-end">
                <p><a href="{{ url_for('employer_detail', db=selected_db, hh_id=vacancy[14]) }}">{{ vacancy[16] }}</a> (<a href="{{ vacancy[17] }}" target="_blank">{{ vacancy[14] }}</a>)</p>
                {% if vacancy[19] %}
                    {% set address_raw = vacancy[19]['raw'] %}

                    <p><a href="https://maps.yandex.ru?text={{ address_raw }}" target="_blank">{{ address_raw }}</a></p>
                {% endif %}
                {% if vacancy[20] %}
                    {% set contacts_name = vacancy[20]['name'] %}
                    {% set contacts_email = vacancy[20]['email'] %}

                    <p class="mb-0">{{ contacts_name }}</p>
                    <p class="mb-0">{{ '<a href="mailto:{}">{}</a>'.format(contacts_email, contacts_email)|safe }}</p>
                    <p>{% for phone in vacancy[20]['phones'] %}
                            +{{ phone['formatted'] }}{% if not loop.last %}, {% endif %}
                        {% endfor %}</p>
                {% endif %}
            </div>
        </div>
        <div class="row my-3">
            <div class="col">
                <p class="mb-0"><strong>Должность:</strong> {{ vacancy[13] }}</p>
                {% if vacancy[12] %}
                    <p><strong>Навыки:</strong>
                        {% for skill in vacancy[12] %}
                            {{ skill['name'] }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                {% endif %}
            </div>
        </div>
        <div class="row my-3 p-3 text-bg-light">
            <div class="col">

                <div class="container mx-0 px-0">
                    <div class="row">
                        <div class="col">
                            <pre>{{ vacancy[23] if vacancy[23] }}</pre>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p><button class="btn btn-outline-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEditNotes" aria-expanded="false" aria-controls="collapseEditNotes">
                                Редактировать примечания
                            </button></p>
                            <div class="collapse" id="collapseEditNotes">
                                <form action="{{ url_for('vacancy_detail', db=selected_db, hh_id=vacancy[1]) }}" method="post">
                                    <input type="hidden" name="vacancy_id" value="{{ vacancy[0] }}">

                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" name="notes_content">{{ vacancy[23] if vacancy[23] }}</textarea>
                                    <button type="submit" class="btn btn-primary my-2">Сохранить</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row p-3 text-bg-light">
            <div class="col">
                {{ vacancy[11][1:-1]|safe }}
            </div>
        </div>
        <div class="row my-3 p-3 text-bg-light">
            <div class="col">

                <div class="container mx-0 px-0">
                    <div class="row">
                        <div class="col">
                            <pre>{{ vacancy[24] if vacancy[24] }}</pre>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p><button class="btn btn-outline-success my-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEditCoverLetter" aria-expanded="false" aria-controls="collapseEditCoverLetter">
                                Редактировать сопроводительное письмо
                            </button></p>
                            <div class="collapse" id="collapseEditCoverLetter">
                                <form action="{{ url_for('vacancy_detail', db=selected_db, hh_id=vacancy[1]) }}" method="post">
                                    <input type="hidden" name="vacancy_id" value="{{ vacancy[0] }}">

                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" name="cover_letter">{{ vacancy[24] if vacancy[24] }}</textarea>
                                    <button type="submit" class="btn btn-primary mt-3">Сохранить</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
</body>
</html>
