<style>
    .highlight {
        color: var(--bs-alert-color);
        background-color: var(--bs-alert-bg);
    }
</style>

<table class="table">
    <thead>
        <tr>
            <th scope="col">HH ID</th>
            <th scope="col">Вакансия</th>
            <th scope="col">Город</th>
            <th scope="col">График</th>
            <th scope="col">Зарплата</th>
            <th scope="col">Работодатель</th>
            <th scope="col">Обновлено</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>{{ vacancies_in_db }}
        {% for vacancy in vacancies['items'] %}
        
        <tr class="table-group-divider align-middle
            {{ 'bg-light' if vacancy['custom_hidden'] }}
            {{ 'highlight alert-danger' if 'got_rejection' in vacancy['relations'] }}
            {{ 'highlight alert-info ' if 'got_response' in vacancy['relations'] }}
            {{ 'highlight alert-success' if 'got_invitation' in vacancy['relations'] }}
            ">
            <td><a href="{{ vacancy['alternate_url'] }}" target="_blank">{{ vacancy['id'] }}</a></td>
            <td>
                <!-- <form id="vacancyForm{{ vacancy['id'] }}" action="{{ url_for('vacancy_detail', vacancy_hh_id=vacancy['id']) }}" method="post">
                    <input id="vacancy_snippet" name="vacancy_snippet" type="hidden" value="{{ vacancy['snippet'] }}">
                    <button class="button-submit-link" type="submit">{{ vacancy['name'] }}</button>
                </form> -->
                <a href="{{ url_for('vacancy_detail', vacancy_hh_id=vacancy['id'])}}">{{ vacancy['name'] }}</a>
            </td>
            <td>{{ vacancy['area']['name'] }}</td>
            <td>{{ vacancy['schedule']['name'] }}</td>
            <td>{{ ("от {}").format(vacancy['salary']['from']) if vacancy['salary']['from'] }} {{ ("до {}").format(vacancy['salary']['to']) if vacancy['salary']['to'] }} {{ ("{}").format(vacancy['salary']['currency']) if vacancy['salary']['currency'] }} {{ 'гросс' if vacancy['salary']['gross'] }}</td>
            <td><a href="{{ url_for('employer_detail', employer_hh_id=vacancy['employer']['id']) }}">{{ vacancy['employer']['name'] }}</a></td>
            <td>{{ vacancy['published_at'] }}</td>
            <td class="text-nowrap text-end">
                {% if user.is_authenticated %}
                <form id="hiddenForm{{ vacancy['id'] }}" class="" action="{{ url_for('vacancy_save_or_update') }}" method="post">
                    
                    <input id="vacancy_hh_id" name="vacancy_hh_id" type="hidden" value="{{ vacancy['id'] }}">
                    <input id="vacancy_snippet" name="vacancy_snippet" type="hidden" value="{{ vacancy['snippet'] }}">
                    {{ form.hidden_tag() }}

                    {% if not vacancy['custom_hidden'] %}
                    <button data-action="hide_unhide" onclick="submitForm(this.form, 'hide_unhide')" class="btn btn-sm btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ vacancy['id'] }}" aria-expanded="false" aria-controls="collapse{{ vacancy['id'] }}">
                        Скрыть
                    </button>
                    {% else %}
                    <button data-action="hide_unhide" onclick="submitForm(this.form, 'hide_unhide')" class="btn btn-sm btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ vacancy['id'] }}" aria-expanded="false" aria-controls="collapse{{ vacancy['id'] }}">
                        Показать
                    </button>
                    {% endif %}
                
                    {% if not vacancy['custom_in_db'] %}
                    <button data-action="save" onclick="submitForm(this.form, 'save')" class="btn btn-sm btn-primary" type="button">Сохранить</button>
                    {% else %}
                    <button data-action="update" onclick="submitForm(this.form, 'update')" class="btn btn-sm btn-success" type="button">Обновить</button>
                    {% endif %}

                </form>
                {% else %}
                <a class="btn btn-primary text-nowrap" href="{{ url_for('login') }}">Sign In</a>
                {% endif %}
            </td>
        </tr>
        <tr class="bg-light">
            <td class="p-0" colspan="8">
                <div id="collapse{{ vacancy['id'] }}" class="container collapse {{ 'show' if not vacancy['custom_hidden'] }}">
                    <div class="row pt-2">
                        <div class="col">
                            <p><strong>Обязанности</strong>: {{ vacancy['snippet']['responsibility'] | safe }}</p>
                            <p><strong>Требования</strong>: {{ vacancy['snippet']['requirement'] | safe }}</p>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>