{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block head %}
    {{ super() }}
    <style>
        .highlight {
            color: var(--bs-alert-color);
            background-color: var(--bs-alert-bg);
        }
        .color-new {
            color: rgba(var(--bs-primary-rgb),var(--bs-text-opacity))!important;
        }
        .color-applied {
            color: rgba(var(--bs-info-rgb),var(--bs-text-opacity))!important;
        }
        .color-interview {
            color: rgba(var(--bs-success-rgb),var(--bs-text-opacity))!important;
        }
        .color-rejected {
            color: rgba(var(--bs-danger-rgb),var(--bs-text-opacity))!important;
        }
        .color-offer {
            color: rgba(var(--bs-warning-rgb),var(--bs-text-opacity))!important;
        }
        .color-unsuitable, .color-archived, .color-hidden {
            color: rgba(var(--bs-secondary-rgb),var(--bs-text-opacity))!important;
        }
    </style>
{% endblock %}
{% block content %}
<div class="container mb-4">
    <div class="row mb-4">
        <div class="col text-center">
            <h1>Dashboard</h1>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col text-end">
            <form id="updateBulkForm" action="{{ url_for('vacancy_update_bulk') }}" method="post">
                {{ form.hidden_tag() }}
                <input id="updateBulkShow" name="show" type="hidden" value="{{ show }}">
                <button id="sendCheckedButton" class="btn btn-sm btn-success" type="submit">Обновить выделенные</button>
            </form>
        </div>
    </div>
    <div class="row">
        <ul class="nav nav-tabs">
            {% for status in relation_status_list %}
            <li class="nav-item"><a href="{{ url_for('dashboard', show=status.id) }}" class="nav-link text-primary color-{{ status.id }} {{ 'active' if show == status.id }}">{{ status.name }}</a></li>
            {% endfor %}
            <li class="nav-item"><a href="{{ url_for('dashboard', show='all') }}" class="nav-link {{ 'active' if show == 'all' }}">Мои вакансии</a></li>
       </ul>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">HH ID</th>
                        <th scope="col">Вакансия</th>
                        <th scope="col">Город</th>
                        <th scope="col">График</th>
                        <th scope="col">Зарплата</th>
                        <th scope="col">Работодатель</th>
                        <th scope="col">Обновлено</th>
                        <th colspan="2" scope="col" class="text-center"><a id="checkAllLink" href="javascript:void(0)">Выделить</a></th>
                    </tr>
                </thead>
                <tbody>
                    {% if vacancies %}
                    {% for vacancy in vacancies %}
                    <tr class="table-group-divider align-middle
                    {% if vacancy.archived %}
                        {{ 'highlight alert-secondary' if vacancy.archived }}
                    {% else %}
                        {{ 'bg-light' if vacancy.relation.hidden }}
                        {{ 'highlight alert-danger' if vacancy.relation.hh_relations and 'got_rejection' in vacancy.relation.hh_relations }}
                        {{ 'highlight alert-info ' if vacancy.relation.hh_relations and 'got_response' in vacancy.relation.hh_relations }}
                        {{ 'highlight alert-success' if vacancy.relation.hh_relations and 'got_invitation' in vacancy.relation.hh_relations }}
                    {% endif %}
                    ">
                        <td><a href="{{ vacancy.alternate_url }}" target="_blank">{{ vacancy.hh_id }}</a></td>
                        <td><a href="{{ url_for('vacancy_detail', vacancy_hh_id=vacancy.hh_id) }}">{{ vacancy.name }}</a></td>
                        <td>{{ vacancy.area.name }}</td>
                        <td>{{ vacancy.schedule.name }}</td>
                        <td>
                            {{ ("от {}").format(vacancy.salary_json['from']) if vacancy.salary_json['from'] }}
                            {{ ("до {}").format(vacancy.salary_json['to']) if vacancy.salary_json['to'] }}
                            {{ ("{}").format(vacancy.salary_json['currency']) if vacancy.salary_json['currency'] }}
                            {{ "гросс" if vacancy.salary_json['gross'] }}
                        </td>
                        <td><a href="{{ url_for('employer_detail', employer_hh_id=vacancy.employer.hh_id) }}">{{ vacancy.employer.name }}</a></td>
                        <td>{{ vacancy.published_at_formatted }}</td>
                        <td class="text-nowrap text-end">
                            <form id="hiddenForm{{ vacancy.hh_id }}" class="" action="{{ url_for('vacancy_save_or_update') }}" method="post">
                                <input id="vacancy_hh_id" name="vacancy_hh_id" type="hidden" value="{{ vacancy.hh_id }}">
                                {{ form.hidden_tag() }}

                                {% if not vacancy.relation.hidden %}
                                <button data-action="hide_unhide" onclick="submitForm(this.form, 'hide_unhide')" class="btn btn-sm mb-1 btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ vacancy['id'] }}" aria-expanded="false" aria-controls="collapse{{ vacancy['id'] }}">
                                    Скрыть
                                </button>
                                {% else %}
                                <button data-action="hide_unhide" onclick="submitForm(this.form, 'hide_unhide')" class="btn btn-sm mb-1 btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ vacancy['id'] }}" aria-expanded="false" aria-controls="collapse{{ vacancy['id'] }}">
                                    Показать
                                </button>
                                {% endif %}<br />
                                <button data-action="update" onclick="submitForm(this.form, 'update')" class="btn btn-sm btn-success" type="button">Обновить</button>
                            </form>
                        </td>
                        <td class="text-center"><input id="{{ vacancy.hh_id }}" class="form-check-input item-checkbox" type="checkbox" name="vacancy_checkbox" value=""></td>
                    </tr>
                    <tr class="bg-light">
                        <td class="p-0" colspan="9">
                            <div id="collapse{{ vacancy['id'] }}" class="container collapse {{ 'show' if not vacancy.relation.hidden }}">
                                <div class="row pt-2">
                                    <div class="col">
                                        <p>{{ vacancy.description[:300]|safe + '...' }}</p>
                                        {% if vacancy.key_skills_json %}
                                        <p><strong>Навыки:</strong>
                                            {% for skill in vacancy.key_skills_json %}
                                                {{ skill['name'] }}{% if not loop.last %}, {% endif %}
                                            {% endfor %}
                                        </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
    {{ super() }}
    <script>
        function submitForm(form, action) {
            var formData = new FormData(form);
            formData.append("action", action);

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "{{ url_for('vacancy_save_or_update') }}", true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        var response = JSON.parse(xhr.responseText);
                        // Update button color and name based on response
                        var button = form.querySelector('button[data-action="' + action + '"]');
                        button.textContent = response.buttonText;
                        button.className = "btn btn-sm mb-1 " + response.buttonClass;
                        // Change background color of parent <tr>
                        var tr = button.closest('tr');
                        if (response.backgroundClass1) {
                            tr.classList.add(response.backgroundClass1, response.backgroundClass2);  // Add background class
                        } else {
                            tr.classList.remove('bg-light');  // Remove background classes if not applicable
                        }
                    } else {
                        // Handle error response
                    }
                }
            };
            xhr.send(formData);
        }
    </script>

    <script>
        document.getElementById("checkAllLink").addEventListener("click", function() {
            var checkboxes = document.querySelectorAll('.item-checkbox');
            var checkAllButton = document.getElementById('checkAllLink');
            var allChecked = true;
            checkboxes.forEach(function(checkbox) {
                if (!checkbox.checked) {
                    allChecked = false;
                }
            });
            checkboxes.forEach(function(checkbox) {
                if (allChecked) {
                    checkbox.checked = false;
                    // checkAllButton.textContent = "Check All Items";
                } else {
                    checkbox.checked = true;
                    // checkAllButton.textContent = "Uncheck All Items";
                }
            });
        });
    </script>

    <script>
        document.getElementById("sendCheckedButton").addEventListener("click", function(event) {
            var checkboxes = document.querySelectorAll('.item-checkbox:checked');
            var checkedIds = [];
            checkboxes.forEach(function(checkbox) {
                checkedIds.push(checkbox.id);
            });

            var form = document.getElementById('updateBulkForm');
            checkedIds.forEach(function(id) {
                var input = document.createElement('input');
                input.setAttribute('type', 'hidden');
                input.setAttribute('name', 'checkedItems');
                input.setAttribute('value', id);
                form.appendChild(input);
            });
        });
    </script>
{% endblock %}