{% extends "base.html" %}
{% block title %}Работодатель: {{ employer.name }}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-1">
            <a href="javascript:history.back()" class="btn btn-primary text-nowrap">Вернуться</a>
        </div>
        <div class="col text-center">
            <h1>{{ employer.name }}</h1>
        </div>
    </div>
    <div class="row my-3">
        <div class="col">
            <p><strong>ID:</strong> <a href="{{ employer.alternate_url }}" target="_blank">{{ employer.hh_id }}</a> &mdash; {{ employer.name }}</p>
            <p class="mb-0">{{ employer.type.name }}</p>
            <p class="mb-0"><strong>Город:</strong> {{ employer.area.name }}</p>
            {% if employer.site_url %}
                <p class="mb-0"><strong>Сайт:</strong> <a href="{{ employer.site_url }}" target="_blank">{{ employer.site_url }}</a></p>
            {% endif %}
        </div>
    </div>
    {% if employer.industries_json %}
    <div class="row my-3">
        <div class="col">
            <p class="mb-0"><strong>Сферы деятельности:</strong>
            {% for industry in employer.industries_json %}
                {{ industry }}{% if not loop.last %}; {% endif %}
            {% endfor %}
            </p>
        </div>
    </div>
    {% endif %}
    <div class="row mb-5 p-3 text-bg-light">
        <div class="col">
            {{ employer.description|safe}}
        </div>
    </div>
</div>
{% endblock %}