{% extends "base.html" %}
{% block title %}Sign In{% endblock %}
{% block head %}
    {{ super() }}
    <style>
        .invalid-feedback {
            display: block;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title text-center">Sign In</h4>
                        <form action="" method="post" novalidate>
                            {{ form.hidden_tag() }}
                            <div class="mb-3">
                                {{ form.username.label(class="form-label") }}
                                {{ form.username(size=32, class="form-control") }}
                                {% for error in form.username.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            </div>
                            <div class="mb-3">
                                {{ form.password.label(class="form-label") }}<br>
                                {{ form.password(size=32, class="form-control") }}
                                {% for error in form.password.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            </div>
                            <div class="mb-3 form-check">{{ form.remember_me(class="form-check-input") }} {{ form.remember_me.label(class="form-check-label") }}</div>
                            <div class="text-center mb-3">{{ form.submit(class="btn btn-primary") }}</div>
                            <div>New user? <a href="{{ url_for('register') }}">Click to register!</a></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}