{% extends "base.html" %}
{% block title %}Вакансия: {{ vacancy.name }}{% endblock %}
{% block content %}
<div class="container">
    <div class="row mb-3">
        <div class="col-1">
            <a href="javascript:history.back()" class="btn btn-primary text-nowrap">Вернуться</a>
        </div>
        <div class="col text-center">
            <h1>{{ vacancy.name }}</h1>
        </div>
        <div class="col-2 text-end text-nowrap">
            {% if user.is_authenticated %}
            <form id="hiddenForm{{ vacancy['hh_id'] }}" class="" action="{{ url_for('vacancy_save_or_update') }}" method="post">
                
                <input id="vacancy_hh_id" name="vacancy_hh_id" type="hidden" value="{{ vacancy['hh_id'] }}">
                <input id="vacancy_snippet" name="vacancy_snippet" type="hidden" value="{{ vacancy['snippet'] }}">
                {{ form.hidden_tag() }}

                {% if not relation.hidden %}
                <button data-action="hide_unhide" onclick="submitForm(this.form, 'hide_unhide')" class="btn btn-secondary" type="button">Скрыть</button>
                {% else %}
                <button data-action="hide_unhide" onclick="submitForm(this.form, 'hide_unhide')" class="btn btn-outline-secondary" type="button">Показать</button>
                {% endif %}
            
                {% if not relation %}
                <button data-action="save" onclick="submitForm(this.form, 'save')" class="btn btn-primary" type="button">Сохранить</button>
                {% else %}
                <button data-action="update" onclick="submitForm(this.form, 'update')" class="btn btn-success" type="button">Обновить</button>
                {% endif %}

            </form>
            {% else %}
            <a class="btn btn-primary text-nowrap" href="{{ url_for('login') }}">Sign In</a>
            {% endif %}
        </div>
    </div>
    {% if relation.relations %}
        {% if 'got_rejection' in relation.relations %}
        <div class="row"><div class="col"><div class="alert alert-danger">Отказ</div></div></div>
        {% elif 'got_invitation' in relation.relations %}
        <div class="row"><div class="col"><div class="alert alert-success">Приглашение</div></div></div>
        {% elif 'got_response' in relation.relations %}
        <div class="row"><div class="col"><div class="alert alert-info">Откликнулся</div></div></div>
        {% endif %}
    {% endif %}
    <div class="row">
        <div class="col">
            <p><strong>ID:</strong> <a href="{{ vacancy.alternate_url }}" target="_blank">{{ vacancy.hh_id }}</a> &mdash; {{ vacancy.name }}</p>
        </div>
        <div class="col text-end">
            <p class="">{{ vacancy.published_at_formatted }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if vacancy.salary %}
                <p><strong>Зарплата:</strong>
                {{ ('от {}'.format(vacancy.salary_json['from']) if vacancy.salary_json['from'] else '') + (' до {}'.format(vacancy.salary_json['to']) if vacancy.salary_json['to'] else '') + (' {}'.format(vacancy.salary_json['currency']) if vacancy.salary_json['currency'] else '') + (' до вычета налогов' if vacancy.salary_json['gross'] == True else '') }}
                </p>
            {% endif %}
            <p class="mb-0"><strong>Город:</strong> {{ vacancy.area.name }}</p>
            <p class="mb-0"><strong>Опыт работы:</strong> {{ vacancy.experience.name }}</p>
            <p class="mb-0"><strong>Занятость:</strong> {{ vacancy.employment.name }}</p>
            <p class="mb-0"><strong>График:</strong> {{ vacancy.schedule.name }}</p>
        </div>
        <div class="col-6 text-end">
            <p><a href="{{ url_for('employer_detail', employer_hh_id=vacancy.employer.hh_id) }}">{{ vacancy.employer.name }}</a> (<a href="{{ vacancy.employer.alternate_url }}" target="_blank">{{ vacancy.employer.hh_id }}</a>)</p>
            <!-- {% if employer_relation_notes %}<p><pre>{{ employer_relation_notes }}</pre></p>{% endif %} -->
            {% if vacancy.contacts_json %}
                {% set address_raw = vacancy.address_json['raw'] %}

                <p><a href="https://maps.yandex.ru?text={{ address_raw }}" target="_blank">{{ address_raw }}</a></p>
            {% endif %}
            {% if vacancy.contacts_json %}
                {% set contacts_name = vacancy.contacts_json['name'] %}
                {% set contacts_email = vacancy.contacts_json['email'] %}

                <p class="mb-0">{{ contacts_name }}</p>
                {% if contacts_email %}<p class="mb-0">{{ '<a href="mailto:{}">{}</a>'.format(contacts_email, contacts_email)|safe }}</p>{% endif %}
                <p>{% for phone in vacancy.contacts_json['phones'] %}
                        +{{ phone['country'] }} {{ phone['city'] }} {{ phone['number'] }}{% if not loop.last %}, {% endif %}
                    {% endfor %}</p>
            {% endif %}
        </div>
    </div>
    <div class="row my-3">
        <div class="col">
            {% if vacancy.professional_roles_json %}
            <p class="mb-0"><strong>Должность:</strong>
                {% for role in vacancy.professional_roles_json %}
                    {{ role }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </p>
            {% endif %}

            {% if vacancy.key_skills_json %}
            <p><strong>Навыки:</strong>
                {% for skill in vacancy.key_skills_json %}
                    {{ skill['name'] }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </p>
            {% endif %}
        </div>
    </div>
    <div class="row mb-5 p-3 text-bg-light">
        <div class="col">
            {{ vacancy.description|safe }}
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
    {{ super() }}
    <script>
        function submitForm(form, action) {
            var formData = new FormData(form);
            formData.append("action", action);
    
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "{{ url_for('vacancy_save_or_update') }}", true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        var response = JSON.parse(xhr.responseText);
                        // Update button color and name based on response
                        var button = form.querySelector('button[data-action="' + action + '"]');
                        button.textContent = response.buttonText;
                        button.className = "btn " + response.buttonClass;
                        // Change background color of parent <tr>
                        var tr = button.closest('tr');
                        if (response.backgroundClass1) {
                            tr.classList.add(response.backgroundClass1, response.backgroundClass2);  // Add background class
                        } else {
                            tr.classList.remove('bg-light');  // Remove background classes if not applicable
                        }
                    } else {
                        // Handle error response
                    }
                }
            };
            xhr.send(formData);
        }
    </script>       
{% endblock %}